@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html { font-size:100%; }
body {
  background-color:  #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}
p, h1, h2, h3, span, a {
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 15px;
}
span {
  font-size:29px;
}
ol {
  list-style: none;
}
li {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    position: relative;
    word-spacing: 5px;
    right: 10px;
}
ul li:before { 
  content:"•"; 
  font-size:10pt; 
  position: relative;
  right: 10px;
}
li img {
  width: 50px;
  position: relative;
  top: 33px;
}
form {
  width: 535px;
}
h1 {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 25px;
}
h2 {
  font-size: 25px;
  display: initial;
}
h3 {
  font-size: 25px;
  color: #da9b85;
}
a:link {
  color: #ffffff;
  background-color: transparent; 
  text-decoration: none;
}
a:active {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
.main--wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 1350px;
}
#header_initials {
  height: 60px;
  position: absolute;
  top: 25px;
  margin-left: 120px;
}
.main-nav__wrapper {
  background-color: #d5dbdb;
  -webkit-box-shadow: 10px 3px 8px #bfc9ca;
          box-shadow: 10px 3px 8px #bfc9ca;
  height: 100px;
}
.background-list {
  background-image: url(assets/_elementy_gradient_menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  left: 31em;
  top: -20px;
  padding-right: 70px;
  padding-bottom: 30px;
}
.list-link {
  margin-left: 5px;
  vertical-align: -13px;
}
.link-space {
  padding-left: 35px;
}
.stream {
  color: #ffffff;
  position: relative;
  right: 5px;
  display: inline-block;
  -webkit-transform: scale(0.5, 1.8);
      -ms-transform: scale(0.5, 1.8);
          transform: scale(0.5, 1.8);
  vertical-align: -15px;
}
.gradient_nav {
  display: inline;
}
.gradient_nav img {
  position: relative;
  bottom: 100px;
}
.main-header__header-title {
    position: relative;
  }
.main-content__wrapper {
  height: 500px;
  position: relative;
}
.circle_02 {
  position: absolute;
  z-index: -1;
  top: 2em;
  left: -24em;
}
.circle_02 img {
  height: 280px;
  width: 280px;
  overflow-y: 
}
.circle_01 {
  display: inline-block;
  position: absolute;
  top: -2em;
  left: -85px;
    top: -56px;
}
.circle_01 img {
  height: 400px;
  width: 400px;
}
.picture_01 {
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 50px;
}
.picture_01 img {
  height: 430px;
  width: 400px;
  border-radius: 2%;
}
.main-header_article_01 {
  display: inherit;
  background: rgba(255, 255, 255, 0.7); 
  -webkit-box-shadow: 3px 3px 3px #bfc9ca; 
          box-shadow: 3px 3px 3px #bfc9ca;
  border-radius: 5px 5px;
  position: absolute;
  width: 635px;
  height: 200px;
  padding-left: 20px;
  left: 440px;
  top: 100px;
}
.subtitle {
  color: #da9b85;
  font-size: 26px;
  position: relative;
  bottom: 20px;
  letter-spacing: 1px;
}
.subtitle_1 {
  position: relative;
  bottom: 20px;
  letter-spacing: 1px;
  color:  #4b4b4b;
  font-size: 15px;
}
.subtitle_2 {
  display: inline-block;
  position: relative;
  bottom: 40px;
  left: 410px;
  font-size: 15px;
  color:  #4b4b4b;
}
.bitbucket_icon {
  display: inline-block;
  position: relative;
  left: 425px;
  bottom: 17px;
}
.bitbucket_icon img {
  width: 55px;
}
.dev_icon {
  display: inline-block;
  position: relative;
  bottom: 17px;
  left: 410px;
}
.dev_icon img {
  width: 55px;
}
.main-header_article_02 {
  text-align: right;
  position: absolute;
  top: 22em;
  left: 49.5em;
  letter-spacing: 0.5px;
}
.subtitle_3 {
  font-size: 25px;
}
.subtitle_4 {
  position: relative;
  color: #4b4b4b;
  letter-spacing: 0.5px;
}
.mail {
  display: inline-block;
  background-image: url(assets/button_011.png);
  background-size: 100% 100%;
  padding: 12px 40px 15px;
  background-repeat: no-repeat;
  position: relative;
  right: 15px;
  -webkit-filter: drop-shadow(2px 2px 1px #bfc9ca);
          filter: drop-shadow(2px 2px 1px #bfc9ca);
}
.download {
  display: inline-block;
  background-image: url(assets/button_011.png);
  background-size: 100% 100%;
  padding: 12px 20px 15px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(2px 2px 1px #bfc9ca);
          filter: drop-shadow(2px 2px 1px #bfc9ca);
}
.circle_03 {
  position: absolute;
  overflow: hidden;
  top: -210px;
  left: 180px;
  z-index: -1;
}
.circle_03 img {
  width: 410px;
  margin: 0px -33px 0px 0px;
}
.main-article_wrapper {
  max-width: 430px;
  position: relative;
  left: 170px;
  top: 60px;
  height: 512px;
}
.sub_0 {
  position: relative;
  bottom: 25px;
  font-size: 26px;
}
.sub_1 {
  color: #4b4b4b;
  position: relative;
  bottom: 15px;
  text-align: justify;
  max-width: 500px;
  word-spacing: 2px;
}
.sub_2 {
  position: relative;
  bottom: 20px;
}
.sub_3 {
  top: 300px;
  position: absolute;
}
.sub_3 li {
  display: list-item;
  font-size: 15px;
  color: #4b4b4b;
  position: relative;
  right: 30px;
  list-style: none;
}
.code {
  color: #4b4b4b;
  display: inline;
  font-weight: bolder;
  float: left;
  margin-top: 50px;
  margin-left: 85px;
}
.code_button {
  float: right;
  margin-top: 25px;
}
.code_button img {
  height: 70px;
  width: 140px;
}
.div_skills {
  display: inline-block;
  -webkit-box-shadow: 3px 3px 3px #bfc9ca;
          box-shadow: 3px 3px 3px #bfc9ca;
  border-radius: 2%;
  background-color: #ffffff;
  position: absolute;
  top: 645px;
  width: 470px;
  height: 480px;
  padding-left: 50px;
  left: 700px;
}
.circle_04 {
  position: absolute;
  top: 77px;
  left: 200px;
  overflow: hidden;
  display: inline-block;
}
.circle_04 img {
  width: 520px;
  margin: 0px -75px 0px 0px;
}
.circle_05 {
  position: absolute;
  right: 60px;
  top: 50px;
}
.circle_05 img {
  width: 350px;
}
.circle_06 {
  position: absolute;
  top: -295px;
  margin-left: -320px;
}
.circle_06 img {
  height: 550px;
  overflow: hidden;
}
.skills {
  display: inline-block;
  margin-bottom: 0;
}
.sub_4 {
  color: #4b4b4b;
  bottom: 100px;
  word-spacing: 2px;
}
.graph_1,.graph_2,.graph_3,.graph_4,.graph_5,.graph_6 {
  display: block;
  position: relative;
  top: 30px;
  right: 25px;
  width: 80%;
  background-image: url(assets/_elementy_gradient_menu.png), url(assets/_elementy_gradient_menu_2.png); 
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: 25px;
    color: white;
    margin: -33px;
    text-align: center;
    font-weight: bold;
}
span[class^="graph_text"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  vertical-align: 17px;
}
.graph_1,.graph_2,.graph_3,.graph_5 {
  background-size: cover;
}
.graph_1 {
  text-indent: 65%; 
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(1px 1px 1px #f1feff);
          filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph_2, .graph_3, .graph_5 {
  text-indent: 45%;
  background-size: 90% 100%;
  right: 25px;
  -webkit-filter: drop-shadow(1px 1px 1px #f1feff);
          filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph_2 {
  text-indent: 53%;
}
.graph_4,.graph_6 {
  background-size: cover;
  background-size: 65% 110%;
  text-indent: 0%;
  padding: 20px;
  right: 21px;
  -webkit-filter: drop-shadow(1px 1px 1px #f1feff);
          filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph_4 {
  text-indent: -13%;
}
.tools_bar {
  background-image: url(assets/tło_gradient.png);
  background-repeat: no-repeat;
  height: 235px;
  margin-top: 60px;
  margin-bottom: 50px;
  background-size: cover;
  position: relative;
}
.tools {
  margin-left: 170px;
  font-size: 25px;
  vertical-align: -35px;
}
.tools_1 {
  margin-left: 170px;
  margin-top: 0;
  font-size: 25px;
}
.tools_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tools_icon_1,.tools_icon_2,.tools_icon_3,
.tools_icon_4,.tools_icon_5,.tools_icon_6,.tools_icon_7,.tools_icon_8 {
  display: inline-block;
  -webkit-box-shadow: 4px 3px 5px grey;
          box-shadow: 4px 3px 5px grey;
  border-radius: 5%;
  background-color: #ffffff;
  position: relative;
  height: 80px;
  width: 80px;
}
.tools_icon_1 p,.tools_icon_2 p,.tools_icon_3 p,
.tools_icon_4 p,.tools_icon_5 p,.tools_icon_6 p,.tools_icon_7 p,.tools_icon_8 p {
  font-size: 10px;
  color: #4b4b4b;
  position: relative;
  bottom: 55px;
  text-align: center;
}
.tools_icon_1 img, .tools_icon_2 img,.tools_icon_3 img,.tools_icon_4 img,.tools_icon_5 img,.tools_icon_6 img, 
.tools_icon_7 img, .tools_icon_8 img {
  position: relative;
  top: 25px;
  height: 90px;
}
.tools_icon_1 {
  left: 170px;
}
.tools_icon_2 {
  left: 180px;
}
.tools_icon_3 {
  left: 190px;
}
.tools_icon_4 {
  left: 200px;
}
.tools_icon_5 {
  left: 210px;
}
.tools_icon_6 {
  left: 220px;
}
.tools_icon_7 {
  left: 230px;
}
.tools_icon_8 {
  left: 240px;
}
.my_works_main {
  position: relative;
  width: 100%;
  height: 720px;
}
.my_works_1 {
  margin-left: 170px;
  vertical-align: 10px;
}
.my_works_2 {
  position: relative;
  left: 170px;
  bottom: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.my_works_3 {
  text-align: left;
  margin-left: 170px;
  color: #4b4b4b;
  position: relative;
  bottom: 45px;
}
.circle_07 {
  position: absolute;
  right: 115px;
  top: 200px;
}
.circle_07 img {
  height: 500px;
}
.portfolio_1,.portfolio_2,.portfolio_3,.portfolio_4,.portfolio_5,.portfolio_6  {
  -webkit-box-shadow: 3px 3px 3px #bfc9ca;
          box-shadow: 3px 3px 3px #bfc9ca;
  border-radius: 2%;
  background-color: #ffffff;
  width: 310px;
  height: 230px;
  position: absolute;
}
.portfolio_1:hover , .portfolio_2:hover , .portfolio_3:hover , .portfolio_4:hover , .portfolio_5:hover ,
.portfolio_6:hover  {
  background-color: rgba( 185, 135, 109, 0.7);
}
.icons_1 {
  margin-left: 225px;
  margin-top: 140px;
}
.icons_1:hover {
  -webkit-filter: contrast(0);
          filter: contrast(0);
}
.portfolio_1 {
  left: 170px;
  top: 180px;
}
.portfolio_2 {
  left: 170px;
  top: 450px;
}
.portfolio_3 {
  left: 505px;
  top: 180px;
}
.portfolio_4 {
  left: 505px;
  top: 450px;
}
.portfolio_5 {
  right: 200px;
  top: 180px;
}
.portfolio_6 {
  right: 200px;
  top: 450px;
}
.portfolio_1 img,.portfolio_2 img,.portfolio_3 img,.portfolio_4 img,.portfolio_5 img,.portfolio_6 img {
  padding: 5px;
  height: 30px;
  width: 30px;
}
.portfolio_icons img {
  position: relative;
  left: 275px;
  bottom: 40px;
}
.blog_wrapper {
  position: relative;
  height: 430px;
}
.blog_title {
  margin-left: 170px;
  vertical-align: 1px;
}
.blog_text {
  margin-left: 170px;
  margin-top: 0;
}
.circle_08 {
  position: absolute;
  left: -62px;
  bottom: -25px;
}
.circle_08 img {
  height: 345px;
}
.circle_09 {
  position: absolute;
  right: 325px;
  top: -130px;
}
.circle_09 img {
  height: 410px;
}
.blog_wrapper_wrapper {
  position: absolute;
  left: 170px;
}
.blog_wrapper_wrapper img {
  border-radius: 4px 4px;
  -webkit-box-shadow: 3px 3px 3px #bfc9ca;
          box-shadow: 3px 3px 3px #bfc9ca;
  width: 310px;
  height: 140px;
}
.blog_content_2 {
  margin-top: 40px;
}
.blog_wrapper_wrapper_2 {
  position: absolute;
  left: 170px;
}
.blog_wrapper_wrapper_2 img {
  border-radius: 4px 4px;
  -webkit-box-shadow: 3px 3px 3px #bfc9ca;
          box-shadow: 3px 3px 3px #bfc9ca;
  width: 310px;
  height: 140px;
}
.blog_subtitle_1 {
  margin-left: 505px;
  margin-top: 30px;
}
#author_1 {
  word-spacing: 5px;
  color: #da9b85;
  font-size: 15px;
  width: 530px;
  text-align: right;
  display: inline-block;
}
.sec_title_1 {
  margin-left: 505px;
  margin-top: 0px;
}
.blog_text_inside_1 {
  margin-left: 505px;
  margin-top: -30px;
}
.link_read_more_1 {
  position: absolute;
  left: 765px;
  top: 12.5em;
}
a.link_read_more_1:link {
  color: #da9b85;
}
a.link_read_more_1:visited {
  color: #da9b85;
}
a.link_read_more_1:active {
  color: #da9b85;
}
.blog_subtitle_2 {
  margin-left: 505px;
  margin-top: 30px;
}
#author_2 {
  word-spacing: 5px;
  color: #da9b85;
  font-size: 15px;
  width: 530px;
  text-align: right;
  display: inline-block;
}
.sec_title_2 {
  margin-left: 505px;
  margin-top: 0px;
}
.blog_text_inside_2 {
  margin-left: 505px;
  margin-top: -30px;
}
.link_read_more_2 {
  position: absolute;
  left: 765px;
  top: 22.5em;
}
a.link_read_more_2:link {
  color: #da9b85;
}
a.link_read_more_2:visited {
  color: #da9b85;
}
a.link_read_more_2:active {
  color: #da9b85;
}
#myBtn_1 {
  position: relative;
  left: 300px;
  display: none;
}
#myBtn_2 {
  display: none;
}
.contact_wrapper {
  background-image: url(assets/tło_gradient.png);
  background-repeat: no-repeat;
  width: -moz-available;
  height: 580px;
  position: relative;
  background-size: cover;
}
.circle_10 {
  position: absolute;
  overflow: hidden;
  top: 375px;
  left: 370px;
  right: 0px;
}
.circle_10 img {
  height: 400px;
  margin: 0px 0px -200px 0px;
}
.contact_text_1 {
  margin-left: 150px;
  vertical-align: -50px;
}
.contact_text_2 {
  margin-left: 150px;
  margin-top: 0;
}
.input_1, .input_2, .input_3 {
  position: relative;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px 4px;
  -webkit-box-shadow: 2px 3px 2px #bfc9ca;
          box-shadow: 2px 3px 2px #bfc9ca;
}
.input_1, .input_2 {
  margin-left: 150px;
  margin-bottom: 15px;
}
.input_3 {
  margin-left: 150px;
  padding-bottom: 0px;
}
input:placeholder-shown {
  padding-left: 15px;
  vertical-align: -15px;
}
textarea:placeholder-shown {
  padding-left: 15px;
  vertical-align: -15px;
}
::-webkit-input-placeholder { 
    color: #000000;
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    text-align: left;
}
::-moz-placeholder { 
    color: #000000;
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    text-align: left;
}
:-ms-input-placeholder { 
    color: #000000;
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    text-align: left;
}
::-ms-input-placeholder { 
    color: #000000;
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    text-align: left;
}
::placeholder { 
    color: #000000;
    font-size: 17px;
    font-family: 'Lato', sans-serif; 
    text-align: left;
}
.input_1 input,.input_2 input {
    border: #000;
    font-size: 17px;
    width: 40%;
    height: 10px;
}
.input_3 input {
  border: #000;
    padding: 10px;
    font-size: 15px;
    width: 90%;
    height: 100px;
}
.send_button {
  position: relative;
  bottom: 60px;
  text-align: center;
  left: 460px;
}
.btn { 
  width: 150px;
  position: absolute;
  left: 560px;
  right: 0px;
  bottom: inherit;
  top: 440px;
  -webkit-box-shadow: 2px 3px 2px #bfc9ca;
          box-shadow: 2px 3px 2px #bfc9ca;
  border-radius: 7%;
} 
.my_picture_2 {
  position: absolute;
  right: 200px;
  top: 50px;
  z-index: 0;
}
.my_picture_2_text {
  position: absolute;
  right: 200px;
  top: 320px;
}
.my_picture_2_text p {
  text-align: right;
  float: left;
}
.my_picture_2 img {
  width: 250px;
  border-radius: 2%;
  height: 280px;
}
.my_contact {
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px 3px;
  -webkit-box-shadow: 2px 3px 2px #bfc9ca;
          box-shadow: 2px 3px 2px #bfc9ca;
  position: absolute;
  right: 430px;
  top: 150px;
  width: 240px;
  height: 75px;
  z-index: 1;
}
.my_contact_icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.my_contact_icon img {
  width: 60px;
  height: 55px;
}
.my_contact_text {
  margin-left: 70px;
  line-height: 1.4;
}
  input[type=text], select, textarea{
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      resize: none;
      outline: none;
      border: none;
      height: auto;
  }

  @media all and (min-width:320px) and (max-width:580px) {
  
  p {
    font-size: 4vw;
  }
  h1, span, h2, h3 {
    font-size: 5vw;
  }
  img {
     width: 100%;
      height: auto;
  }
  form {
    width: 100%;
  }
  input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      resize: none;
      height: auto;
  }
  label {
    padding: 2px 6px 6px 0;
      display: inline-block;
  }
  li {
    font-size: 3vw;
  }
  .main-nav__wrapper {
    height: 25vw;
    -webkit-box-shadow: 5px 5px 8px #bfc9ca;
            box-shadow: 5px 5px 8px #bfc9ca;
    display: inline-block;
    width: -moz-available;
  }
  .span_1 {
    bottom: 0px;
    left: 1.5em;
    font-size: 15vw;
  }
  #header_initials {
    height: 10vw;
    width: 20vw;
    margin-left: 4em;
    position: unset;
  }
  .background-list {
    background-image: none;
    background-image: -o-linear-gradient(#f2cdaf, #e1b696);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2cdaf), to(#e1b696));
    background-image: linear-gradient(#f2cdaf, #e1b696);
    background-size: 100% 50em;
    border-radius: 2%;
    position: inherit;
    display: block;
  }
  .background-list img {
    height: auto;
    width: 13vw;
    margin-left: 1em;
  }
  .link-space {
    display: block;
    position: inherit;
    font-size: 5vw;
  }
  li img {
    position: inherit;
    font-size: 8vw;
  }
  .stream {
    display: none;
  }
  .picture_01 {
    display: block;
    margin-left: 0px;
    position: inherit;
  }
  .picture_01 img {
    height: auto;
      width: 100%;
  }
  .main-content__wrapper {
    position: unset;
    height: auto;
  }
  .subtitle {
    font-size: 5vw;
  }
  .subtitle_2 {
    left: 0px;
  }
  .bitbucket_icon {
    left: auto;
    height: auto;
    width: 20%;
  }
  .dev_icon {
    left: 2em;
    height: auto;
    width: 20%;
  }
  .main-header_article_01 {
    position: unset;
    padding-left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    width: auto;
    height: auto;
  }
  .main-header_article_02 {
    right: 0px;
    text-align: center;
    position: unset;
    margin-left: auto;
  }
  .subtitle_3 {
    text-align: left;
    font-size: 5vw;
    margin-top: 0;
  }
  .mail, .download {
    margin-left: 1em;
  }
  .mail {
    height: auto;
  }
  .download {
    height: auto;
  }
  .mail:link, .download:link {
    font-size: 4vw;
  }
  .mail img, .download img {
    height: auto;
    width: 100%;
  }
  .main-article_wrapper {
    position: unset;
    height: auto;
    text-align: center;
    margin-top: 1em;
    max-width: unset;
  }
  .sub_1 {
    text-align: center;
  }
  .sub_2 {
    position: unset;
  }
  .sub_3 {
    top: 0;
    position: unset;
  }
  .sub_3 li {
    font-size: 4vw;
  }
  .code {
    display: block;
    position: unset;
    margin-top: 0;
    margin-left: 0;
    float: none;
  }
  .code_button {
  text-align: center;
  position: initial;
  display: block;
  float: none;
  }
  .div_skills {
    position: unset;
    left: 0px;
    height: auto;
    width: auto;
    padding-bottom: 3em;
    padding-left: unset;
    margin-left: auto;
    text-align: center;
  }
  .graph_1, .graph_2,.graph_3, .graph_4, .graph_5, .graph_6 {
    background-size: cover;
    right: 0;
  }
  .graph_7,.graph_8,.graph_9,.graph_10,.graph_11 {
    display: none;
  }
  .graph_1 {
    background-size: 100% 100%;
  }
  .graph_2, .graph_3, .graph_5 {
    background-size: 90% 100%;
  }
  .graph_4, .graph_6 {
    background-size: 60% 110%;
    text-indent: -30%;
    left: 1vw;
  }
  .graph_1 span, .graph_2 span,.graph_3 span, .graph_4 span, .graph_5 span, .graph_6 span {
    font-size: 4vw;
  }
  .tools {
    left: 0px;
    margin-left: 0;
  }
  .tools_bar {
    height: 100%;
    text-align: center;
  }
  .tools_1 {
    text-align: center;
    right: 0px;
    margin-left: unset;
  }
  .tools_2 {
    display: block;
  }
  .tools_icon_1, .tools_icon_2, .tools_icon_3, 
  .tools_icon_4, .tools_icon_5, .tools_icon_6, .tools_icon_7, .tools_icon_8 {
    left: 0em;
    display: -webkit-inline-box;
  }
  #C_3 {
    left: 0px;
  }
  .my_works_main {
    height: 100%;
    text-align: center;
  }
  .my_works_1 {
    margin-left: unset;
    display: block;
    margin-bottom: 0;
  }
  .my_works_2 {
    text-align: center;
    position: unset;
    display: inline-block;
    margin-top: 0;
    vertical-align: 2em;
  }
  .my_works_3 {
    margin-left: 0px;
    text-align: center;
  }
  .my_works_3 br {
    display: none;
  }
  .portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4, .portfolio_5, .portfolio_6 {
    position: initial;
    margin-left: 0.6em;
    margin-top: 1em;
    width: 90vw;
    height: 60vw;
  }
  .portfolio_1 img, .portfolio_2 img, .portfolio_3 img, .portfolio_4 img, .portfolio_5 img,
   .portfolio_6 img {
    width: 8vw;
    height: auto;
  }
  .portfolio_6_text_1 {
    font-size: 7vw;
  }
  .portfolio_6_text_2 {
    font-size: 5vw;
    margin-bottom: auto;
    position: unset;
    margin-left: 2em;
  }
  .portfolio_icons img {
    position: initial;
    float: right;
  }
  .icons_1 img {
    height: auto;
    left: 15em;
    position: inherit;
    float: right;
    float: bottom;
  }
  .blog_title {
    margin-left: auto;
  }
  .blog_text {
    margin-left: 0px;
  }
  .blog_wrapper_wrapper, .blog_subtitle_1 {
    position: initial;
  }
  .blog_wrapper {
    position: unset;
    margin-top: 2em;
    text-align: center;
    height: auto;
  }
  .blog_content_2 {
    position: unset;
  }
  .blog_wrapper_wrapper_2 {
    position: unset;
  }
  .blog_wrapper_wrapper img {
    width: 100%;
    height: auto;
  }
  .blog_wrapper_wrapper_2 img {
    width: 100%;
    height: 50vw;
  }
  .blog_subtitle_1, .blog_subtitle_2 {
    margin-left: 0px;
  }
  .author_1, .author_2 {
    text-align: center;
    right: 0px;
    bottom: -3em;
  }
  #author_1, #author_2 {
    width: auto;
    margin-left: 5em;
    font-size: 5vw;
  }
  .sec_title_1, .sec_title_2 {
  margin-left: 0px;
  }
  .blog_text_inside_1, .blog_text_inside_2 {
    position: inherit;
    margin-left: 0;
    margin-top: -2em;
  }
  .link_read_more_1 {
    position: unset;
  }
  .link_read_more_2 {
    position: unset;
  }
  .link_read_more_1:link, .link_read_more_2:link {
    font-size: 4vw;
  }
  .contact_wrapper {
    position: unset;
    margin-top: 2.5em;
    height: auto;
  }
  .contact_text_1 {
    left: 0px;
    top: 0.5em;
    margin-left: 0;
    text-align: center;
    display: block;
  }
  .contact_text_2 br {
    display: none;
  }
  .contact_text_2 {
    display: inline-block;
    position: initial;
    margin-left: 0px;
    text-align: center;
  }
  .input_3 {
    margin-left: 5%;
    width: 90%;
  }
  .send_button {
    position: inherit;
    margin-top: 2em;
  }
  .btn {
    position: unset;
    margin: 1em auto;
    display: block;
  }
  .my_picture_2_text {
  position: inherit;
  }
  .my_picture_2_text p {
  text-align: center;
  float: none;
  }
  .my_picture_2 {
  position: inherit;
    left: 0px;
  }
  .my_picture_2 img {
    position: inherit;
    display: block;
    margin: 0 auto;
  }
  .my_picture_2 p {
    right: 0px;
    text-align: right;
  }
  .my_contact {
    position: inherit;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right: auto;
    top: 2vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
  .my_contact_text {
    font-size: 4vw;
    text-align: center;
    margin-left: 0;
  }
  .my_contact_icon {
    position: unset;
    top: -0.5em;
    left: 5em;
    display: inline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .my_contact_icon img {
    width: 12vw;
    height: 12vw;
  }
    .input_1, .input_2, .input_3 input[type=submit] {
    width: 90%;
    margin-top: 0;
    margin-left: 5%;
  }
  .cirlce_01, .circle_02, .circle_03, .circle_04, .circle_05, .circle_06, .circle_07, .circle_08,
    .circle_09, .circle_10 {
    display: none;
  }
    .circle_01 img {
    display: none;
  }
  
}

@media all and (min-width:581px) and (max-width:1200px) {
 
  p {
    font-size: 2vw;
  }
  h1, span, h2, h3 {
    font-size: 3vw;
  }
  img {
     width: 100%;
      height: auto;
  }
  form {
    width: 60%;
    margin: 0 auto;
  }
  input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      resize: none;
      height: auto;
  }
  label {
    padding: 2px 6px 6px 0;
      display: inline-block;
  }
  li {
    font-size: 2.5vw;
  }
  .main--wrapper {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .main-nav__wrapper {
    height: 20vw;
    -webkit-box-shadow: 5px 5px 8px #bfc9ca;
            box-shadow: 5px 5px 8px #bfc9ca;
    display: inline-block;
    width: -moz-available;
  }
  .span_1 {
    bottom: 0px;
    left: 1.5em;
    font-size: 15vw;
  }
  #header_initials {
    height: 10vw;
    width: 20vw;
    margin: 0 auto;
    position: unset;
    display: block;
  }
  .background-list {
    background-image: none;
    background-image: -o-linear-gradient(#f2cdaf, #e1b696);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2cdaf), to(#e1b696));
    background-image: linear-gradient(#f2cdaf, #e1b696);
    background-size: 100% 80%;
    border-radius: 2%;
    position: inherit;
    display: block;
  }
  .background-list img {
    height: auto;
    width: 8vw;
    margin-left: 18%;
    display: inline-block;
  }
  .link-space {
    display: inline-block;
    position: inherit;
    margin: 0 auto;
    padding-left: 5%;
  }
  li img {
    position: inherit;
    font-size: 7vw;
  }
  .stream {
    display: none;
  }
  .picture_01 {
    display: inline-block;
    margin-left: 0px;
    position: inherit;
    width: 90%;
    margin-top: auto;
    left: 0;
  }
  .picture_01 img {
    height: auto;
      width: 50%;
      position: inherit;
  }
  .main-article__wrapper_wrapper {
    margin-top: auto;
  }
  .main-content__wrapper {
    height: auto;
    margin-bottom: 8vw;
  }
  .main-header_article_01 {
    position: absolute;
    display: inline-block;
    left: 40%;
    width: auto;
    padding: 1%;
    top: 15%;
    height: 20vw;
  }
  .sub_0 {
    bottom: 1em;
  }
  .sub_1 {
    max-width: 100%;
    text-align: center;
  }
  .sub_3 {
    position: inherit;
    top: -4vw;
  }
  .subtitle {
    font-size: 3.2vw;
  }
  .subtitle_1 {
    font-size: 1.5vw;
    margin-bottom: 0;
  }
  .subtitle_2 {
    left: 0px;
    font-size: 2vw;
  }
  .bitbucket_icon {
    left: auto;
    height: auto;
  }
  .dev_icon {
    left: 2em;
    height: auto;
    width: 20%;
  }
  .main-header_article_02 {
    display: inherit;
    height: auto;
    left: 50vw;
    top: 35vw;
  }
  .subtitle_3 {
    text-align: left;
    font-size: 3vw;
  }
  .subtitle_4 {
    font-size: 2vw;
  }
  .mail, .download {
    margin-left: 1em;
  }
  .mail {
    height: auto;
    background-size: 100% 100%;
  }
  .download {
    height: auto;
    background-size: 100% 100%;
  }
  .mail:link, .download:link {
    font-size: 2vw;
  }
  .mail img, .download img {
    height: auto;
    width: 100%;
  }
  .main-article_wrapper {
    height: auto;
    position: unset;
    text-align: center;
    max-width: unset;
  }
  .sub_2 {
    bottom: 0;
  }
  .sub_3 ul {
    margin-top: 0;
  }
  .sub_3 li {
    font-size: 2vw;
  }
  .sub_4 {
    font-size: 2vw;
  }
  .code {
    display: block;
    position: unset;
    font-size: 2vw;
    text-align: center;
    float: unset;
    margin-left: 0;
    margin-top: 0;
  }
  .code_button {
  position: initial;
  display: block;
  text-align: center;
  margin-top: 0;
  float: none;
  }
  .code_button img {
    width: 30%;
    height: auto;
  }
  .div_skills {
  position: unset;
  left: 0;
  height: auto;
  padding-bottom: 1vw;
  }
  .graph_1, .graph_2,.graph_3, .graph_4, .graph_5, .graph_6 {
    background-size: cover;
    right: 10%;
    top: 1vw;
  }
  .graph_1 {
    background-size: 100% 100%;
  }
  .graph_2, .graph_3, .graph_5 {
    background-size: 90% 100%;
  }
  .graph_4, .graph_6 {
    background-size: 60% 110%;
    text-indent: -30%;
    right: 9%;
  }
  .graph_1 span, .graph_2 span,.graph_3 span, .graph_4 span, .graph_5 span, .graph_6 span {
    font-size: 2vw;
  }
  .tools {
    left: 0px;
    margin-left: 0;
  }
  .tools_bar {
    height: 100%;
    text-align: center;
    margin-top: 100px;
  }
  .tools_1 {
    text-align: center;
    right: 0px;
    margin-left: unset;
  }
  .tools_2 {
    display: block;
  }
  .tools_icon_1, .tools_icon_2, .tools_icon_3, 
  .tools_icon_4, .tools_icon_5, .tools_icon_6, .tools_icon_7, .tools_icon_8 {
    left: 0em;
    display: -webkit-inline-box;
  }
  .icons_1 img {
    height: auto;
    left: 15em;
    position: inherit;
    float: right;
    float: bottom;
    display: none;
  }
  #C_3 {
    display: block;
    text-align: center;
  }
  .my_works_main {
    height: 100%;
    text-align: center;
  }
  .my_works_1, .my_works_2 {
    margin-left: unset;
  }
  .my_works_2 {
    text-align: center;
    position: inherit;
    bottom: 1em;
    width: auto;
    left: auto;
  }
  .my_works_3 {
    margin-left: 0px;
    font-size: 2vw;
    bottom: 5vw;
    text-align: center;
  }
  .my_works_3 br {
    display: none;
  }
  .portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4, .portfolio_5, .portfolio_6 {
    position: unset;
    margin-left: 0.6em;
    margin-top: 1em;
    width: 30vw;
    height: 20vw;
    display: -webkit-inline-box;
  }
  .portfolio_1 img, .portfolio_2 img, .portfolio_3 img, .portfolio_4 img, .portfolio_5 img,
   .portfolio_6 img {
    width: 8vw;
    height: auto;
  }
  .portfolio_6_text_1 {
    font-size: 3vw;
    margin-left: 1em;
  }
  .portfolio_6_text_2 {
    font-size: 1.6vw;
    margin-bottom: auto;
    position: unset;
    margin-left: 2em;
  }
  .portfolio_icons img {
    position: initial;
    float: right;
    width: 3vw;
  }
  .icons_1 img {
    width: 10%;
    height: auto;
    left: 15em;
    position: inherit;
    float: right;
    float: bottom;
  }
  #C_4 {
    left: 0px;
  }
  .blog_title {
    top: 1em;
  }
  .blog_text {
    margin-left: 0px;
  }
  .blog_wrapper {
    position: unset;
    margin-top: 2em;
    text-align: center;
    height: auto;
  }
  .blog_content_2 {
    position: unset;
    font-size: 3vw;
  }
  .blog_wrapper_wrapper {
    position: unset;
  }
  .blog_wrapper_wrapper_2 {
    position: unset;
  }
  .blog_wrapper_wrapper img {
    width: 50vw;
    height: auto;
  }
  .blog_wrapper_wrapper_2 img {
    width: 50vw;
    height: 24vw;
  }
  .blog_subtitle_1, .blog_subtitle_2 {
    margin-left: 0px;
  }
  a.link_read_more_1:link, a.link_read_more_2:link {
    font-size: 2vw;
  }
  .author_1, .author_2 {
    text-align: center;
    right: 0px;
    bottom: -3em;
  }
  #author_1, #author_2 {
    width: auto;
    margin-left: 5em;
    font-size: 3vw;
  }
  .sec_title_1, .sec_title_2 {
  margin-left: 0px;
  }
  .blog_text_inside_1, .blog_text_inside_2 {
    position: inherit;
    margin-left: 0;
    margin-top: -2em;
    font-size: 2vw;
  }
  .blog_title {
    margin-left: 0;
  }
  .link_read_more_1 {
    position: unset;
  }
  .link_read_more_2 {
    position: unset;
  }
  .link_read_more_1:link, .link_read_more_2:link {
    font-size: 4vw;
  }
  .contact_wrapper {
    position: unset;
    margin-top: 2.5em;
    height: auto;
  }
  .contact_text_1 {
    left: 0px;
    top: 0.5em;
    margin-left: 0;
    text-align: center;
    display: block;
  }
  .contact_text_2 br {
    display: none;
  }
  .contact_text_2 {
    display: inline-block;
    position: initial;
    margin-left: 0px;
    text-align: center;
  }
  .input_3 {
    margin-left: 5%;
    width: 90%;
  }
  .send_button {
    position: inherit;
    margin-top: 2em;
  }
  .btn {
    position: unset;
    margin: 1em auto;
    display: block;
  }
  .my_picture_2_text {
  position: inherit;
  }
  .my_picture_2_text p {
  text-align: center;
  float: none;
  }
  .my_picture_2 {
  position: inherit;
    left: 0px;
  }
  .my_picture_2 img {
    position: inherit;
    display: block;
    margin: 0 auto;
  }
  .my_picture_2 p {
    right: 0px;
    text-align: right;
  }
  .my_contact {
    position: inherit;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right: auto;
    top: 2vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 1vw;
  }
  .my_contact_text {
    font-size: 3vw;
    text-align: center;
    margin-left: 0;
  }
  .my_contact_icon {
    position: unset;
    top: -0.5em;
    left: 5em;
    display: inline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .my_contact_icon img {
    width: 12vw;
    height: 12vw;
  }
    .input_1, .input_2, .input_3 input[type=submit] {
    width: 90%;
    margin-top: 0;
    margin-left: 5%;
  }
  .cirlce_01, .circle_02, .circle_03, .circle_04, .circle_05, .circle_06, .circle_07, .circle_08,
    .circle_09, .circle_10 {
    display: none;
  }
  .circle_01 img {
    display: none;
  }
  
}